<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idea Lab</title>
    <link rel="stylesheet" href="../static/bookStyle.css">
</head>
<style>

    </style>

<script>
  function Calculate() {
    // console.log(document.getElementById("startDT").value)
    // console.log(document.getElementById("endDT").value)

    const date1 = new Date(document.getElementById("startDT").value);
    const date2 = new Date(document.getElementById("endDT").value);
    const diffTime = Math.abs(date2 - date1);
    const diffDays = Math.ceil(diffTime / (1000 * 60)); 
    console.log(diffTime + " milliseconds");
    console.log(diffDays + " minutes");
    document.getElementById("price").value = "Rs " + diffDays*2 + " /-";
  }

</script>


{% block content %}
<body>
    <div class="mainscreen">
      <br>
          <div class="card">
            <div class="leftside">
                <a href="/showBookings">
                  <img
                    src="../static/idealab2.png"
                    class="product"
                    alt="idealab"
                  />
                </a>
            </div>
            <div class="rightside">
              <form action="/booking"  method="post">
                <h1>Idea Lab</h1>
                <h2>Book slots</h2>
                <p>Name</p>
                <input type="text" class="inputbox" name="name" required placeholder="Seperate multiple names with ," />
                <p>USN</p>
                <input type="text" class="inputbox" name="USN" id="USN" required />
    
                <p>Purpose</p>
                <select class="inputbox" name="purpose" id="purpose" required>
                  <option value="">--Select--</option>
                  <option value="laser machine">Laser machine</option>
                  <option value="3d printing machine">3d printing machine</option>
                  <option value="lab tools">Lab Tools</option>
                </select>
            <div class="expcvv">
    
                <p class="expcvv_text">Start Date and Time</p>
                <input type="datetime-local" class="inputbox" name="startDT" id="startDT" required />
            </div>
            <div class="expcvv">
    
                <p class="expcvv_text">End Date and Time</p>
                <input type="datetime-local" class="inputbox" name="endDT" id="endDT" onblur="Calculate();"  required />
            </div>

                <button type="submit" class="button">Save</button>
                <br>
                <p>Price:</p>
                <input type="text" class="inputbox" name="price" id="price" readonly style="background: transparent; border: none; color: 'white'" />
              </form>
            </div>
          </div>
<!-- database list -->
          <br><br><br>
          <h1 style="text-align: center;">Booking list</h1>
          <br>
          <div class="card">
            <table id="customers">
                <tr>
                  <th>User</th>
                  <th>Machine</th>
                  <th>Start time</th>
                  <th>End time</th>
                </tr>
                {% for user in content %}
                <tr>
                    <!-- {% for record in user %}
                    <td>{{record}}</td>
                    {% endfor %} -->
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2][:10] }}, {{ user[2][11:]}}</td>
                    <td>{{ user[3][:10] }}, {{ user[3][11:]}}</td>
                </tr>
                {% endfor %}
              </table>
        </div>
          <br><br>
        </div>


        


    
</body>
{% endblock %}
</html>