<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/frontPage.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swup/2.0.14/swup.min.js" integrity="sha512-/CTMe2SxxAmQ66WTDgHBoGz9/YerivYJdgSv5zzPW5l+tqq0CfdMlVDiga4NA9lkh7gXbouMwAbAcoGQ/KKz+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const swap = new Swap();
    </script>
    <title>Idea Lab</title>
</head>
  <body>
    <main id="swup" class="transition-fade">
    <h1 style="text-align: center; color: aliceblue;">IDEA LAB - SJEC</h1>
  <div class="container">
    <a href="/log">
        <div class="card">
          <h3 class="title">IdeaLab Log</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50"/>
          </svg>
          </div>
        </div>
    </a>
    <a href="/booking">
        <div class="card">
          <h3 class="title">Machine Slot Booking</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50"/>
          </svg>
          </div>
        </div>
    </a>
  </div>
  </main>
  </body>
</html>