<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Bookings</title>
</head>
<style>
</style>
<body>
    <br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-danger" href="static/log.xlsx" download>Download</a>
    </div>
    <br>
    <div class="card">
        <table class="table table-bordered table-hover table-dark">
            <thead>
              <tr>
                <th scope="col"><u>NAME</u></th>
                <th scope="col"><u>USN</u></th>
                <th scope="col"><u>PURPOSE</u></th>
                <th scope="col"><u>START</u></th>
                <th scope="col"><u>END</u></th>
                <th scope="col"><u>ENTRYDATE</u></th>
              </tr>
            </thead>
            <tbody>
                {% for user in content %}
                <tr>
                    {% for record in user %}
                        <td>{{record}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>